In [2]:
import pandas as pd

In [17]:
def download_confirmedGlobal(csv_filename):
    """
    Downloads time_series_covid19_confirmed_global.csv from the Johns Hopkins repo and saves a copy in 
    output_filename.
    """
    url = ('https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/'
        'time_series_covid19_confirmed_global.csv')
    pd.read_csv(url).to_csv(csv_filename, index=False)
    return

#download_confirmedGlobal()

In [34]:
def extract_data(csv_filename, country_region):
    csv_filename = 'time_series_confirmed_global.csv' 
    df = pd.read_csv(csv_filename)
    df = df[df['Country/Region']=='Diamond Princess']
    df = df.drop(['Province/State', 'Country/Region', 'Lat', 'Long'], axis=1)
    df = df.sum().to_frame()
    df.columns = ['cases']
    df = df[df.cases>0]
    df.index = pd.to_datetime(df.index) # Convert index from string to date
    df.to_csv('{}.csv'.format(country_region))


extract_data('time_series_confirmed_global.csv', 'Diamond Princess')
pd.read_csv('Diamond Princess.csv')

    Unnamed: 0  cases
0   2020-02-07     61
1   2020-02-08     61
2   2020-02-09     64
3   2020-02-10    135
4   2020-02-11    135
5   2020-02-12    175
6   2020-02-13    175
7   2020-02-14    218
8   2020-02-15    285
9   2020-02-16    355
10  2020-02-17    454
11  2020-02-18    542
12  2020-02-19    621
13  2020-02-20    634
14  2020-02-21    634
15  2020-02-22    634
16  2020-02-23    691
17  2020-02-24    691
18  2020-02-25    691
19  2020-02-26    705
20  2020-02-27    705
21  2020-02-28    705
22  2020-02-29    705
23  2020-03-01    705
24  2020-03-02    705
25  2020-03-03    706
26  2020-03-04    706
27  2020-03-05    706
28  2020-03-06    706
29  2020-03-07    706
..         ...    ...
47  2020-03-25    712
48  2020-03-26    712
49  2020-03-27    712
50  2020-03-28    712
51  2020-03-29    712
52  2020-03-30    712
53  2020-03-31    712
54  2020-04-01    712
55  2020-04-02    712
56  2020-04-03    712
57  2020-04-04    712
58  2020-04-05    712
59  2020-04-06    712
60  2020-04-07    712
61  2020-04-08    712
62  2020-04-09    712
63  2020-04-10    712
64  2020-04-11    712
65  2020-04-12    712
66  2020-04-13    712
67  2020-04-14    712
68  2020-04-15    712
69  2020-04-16    712
70  2020-04-17    712
71  2020-04-18    712
72  2020-04-19    712
73  2020-04-20    712
74  2020-04-21    712
75  2020-04-22    712
76  2020-04-23    712

[77 rows x 2 columns]

# MAIN

In [28]:
csv_filename = 'time_series_confirmed_global.csv' 
download_confirmedGlobal(csv_filename)
extract_data(csv_filename, 'Diamond Princess')
pd.read_csv('Diamond Princess.csv')

    cases
0      61
1      61
2      64
3     135
4     135
5     175
6     175
7     218
8     285
9     355
10    454
11    542
12    621
13    634
14    634
15    634
16    691
17    691
18    691
19    705
20    705
21    705
22    705
23    705
24    705
25    706
26    706
27    706
28    706
29    706
..    ...
47    712
48    712
49    712
50    712
51    712
52    712
53    712
54    712
55    712
56    712
57    712
58    712
59    712
60    712
61    712
62    712
63    712
64    712
65    712
66    712
67    712
68    712
69    712
70    712
71    712
72    712
73    712
74    712
75    712
76    712

[77 rows x 1 columns]